.aaa{
    background-image: url(im6.jpeg);
  background-size: cover;
  color: white;
  min-height: 300px;

}


.background-overlay{
  background-color: rgba(0, 247, 255, 0.421);
  min-height: 300px;
}
.az{ background-color: rgba(7, 19, 24, 0.873);

}.ar{
  width: 40px;
  height: 40px;
}
.card:hover{
background-color: rgb(38, 152, 190);
}
footer{
  color: white;
  text-align: center;
 
 padding: 10px;
}